<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>결제정보창</title>
    <link rel="shortcut icon" th:href="@{/resources/images/shortcut-icon.png}">
    <link rel="stylesheet" th:href="@{/resources/stylesheets/common.css}">

    <script src="https://kit.fontawesome.com/f5742d24cb.js" crossorigin="anonymous"></script>
    <script>
        alert('결제 정보가 등록되지 않았습니다.\n\n결제 정보를 등록한 후 서비스를 이용할 수 있습니다.');
        window.location.href = 'add';
    </script>
</head>
<body>

</body>
</html>